<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
</head>
<body>
<div class="top">
    <form id="create-form" th:action="@{/user/save}" th:object="${user}" th:method="post" accept-charset="utf-8">
        <label>
            name<br/>
            <input type="text" name="name" th:value="${user.name}">
        </label>
        <br/>
        <label>
            login <br/>
            <input type="text" name="login" th:value="${user.login}">
        </label>
        <br/>
        <label>
            password<br/>
            <input type="password" name="password" th:value="${user.password}">
        </label>
        <br/><br/>
        <input type="submit" value="Добавить пользователя">
    </form>
</div>
</body>
</html>